h1 {
    color: #170eff;
    font-size: 20px;
    text-align: center;
}

#header {
    background-color: #b2a8b4;
    width: 100%;
    height: 5%;
    left: 0;
    top: 0;
    position: fixed;
    border-bottom: 1px solid black;
}


#valLogo {
    width: 102px;
    height: 29px;
    position: absolute;
    top: 5px;
    left: 0.5%;
}


#userSymbol{
width: 29px;
height: 29px;
position: absolute;
right: .75%;
top: 8px;
}

#searchIcon{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 18%;
    top: 25%;
}

#userTag {
    width: auto;
    height: auto;
    position: absolute;
    top: 15px;
    right: 3%;
}

ul {
    position: absolute;
    top: 30%;
    right: 10%;
    left: 10%;
    text-align: left;
    border: 3px solid #b2a8b4;
    width: 80%;
    height: auto;
    font-size: 20px;
}

.basicText {
    position: absolute;
    color: #252525;
    size: 20px;
}

#text {
    position: absolute;
    width: 70%;
    top: 25%;
    left: 10%;
}


#submitButton {
    position: absolute;
    font-size: 40px;
    top: 20%;
    right: 10%;

}

table {
    border-collapse: separate;
    border-spacing: 0.2em;
}

th,
caption {
    background-color: #666;
    color: #fff;
}

td {
    background-image: linear-gradient(#f9f9f9, #e3e3e3);
}

input[type='image'] {
    width: 80px;
}