#searchComponent {
    position: absolute;
    width: 80%;
    top: 15%;
    left: 10%;
}

input {
    font-size: 20px;
    font-family: Arial;
}

#searchIcon{
    left: 94%;
    color: black;
    position: absolute;
    top: 16%;
}

