#searchComponent {
    position: absolute;
    width: 73%;
    top: 15%;
    left: 10%;
}

input {
    font-size: 20px;
    font-family: Arial;
}

#searchIcon{
    left: 85%;
    color: black;
    position: absolute;
    top: 16%;
    font-size: 18px;
}

#clearSearchIcon{
    left: 87%;
    color: black;
    position: absolute;
    top: 16%;
    font-size: 18px;
}